<h1><%= @group.name %></h1>


<% if signed_in? %>
  <div id="join-group-button">
  <%= render "join_group_button", group: @group %>
 </div>
<% end %>

<div id="group-like-button">
<%= render "group_like_button", group: @group %>
</div>

<div>
  <%= pluralize(@group.likes.count, "Like") %>
</div>